@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">📦 DotNetTasks</h1>
</div>

<!-- Add Button -->
<!-- Table -->
<div class="row px-3 mt-5">
    <div class="col col-12 col-lg-8 offset-lg-2 mt-2 px-0">
        <div class="w-100 d-flex justify-content-between">
                <form class="d-flex" method="get" asp-action="Index" asp-controller="Home">
                    <input
                        name="Title"
                        type="text"
                        class="form-control"
                        id="inputSearchTitle"
                        placeholder="Title"
                        value="@Model.SearchTitle"/>
                    <button type="submit" class="btn btn-success px-3 ms-1">Search</button>
                    <button type="button" class="btn btn-light px-3 ms-1"onclick="location.href='@Url.Action("Index", "Home")'">
                        Clear
                    </button>
                </form>
                <button type="button" class="btn btn-outline-primary px-3"onclick="location.href='@Url.Action("Index", "CreateTask")'">
                    + Add
                </button>
        </div>
    </div>
    <div class="card col col-12 col-lg-8 offset-lg-2 mt-2">
        <table class="card-body table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Due date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model.Tasks)
                {
                    <tr>
                        <td>@task.Title</td>
                        <td>@task.Status</td>
                        <td>@task.DueDate</td>
                        <td>
                            <span class="app-link-icon me-1" title="Edit">@Html.ActionLink("✏️", "Edit", "CreateTask", new { Id = task.Id })</span>
                            <span class="app-link-icon me-1" title="Cancel">@Html.ActionLink("🚫", "Cancel", "CreateTask", new { Id = task.Id })</span>
                            <span class="app-link-icon me-1" title="Mark as Done">@Html.ActionLink("✅", "Done", "CreateTask", new { Id = task.Id })</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-end pe-3">
            <p>Count: @Model.Count</p>
        </div>
    </div>
</div>
