@model DotNetTask.Web.ViewModel.NewAccountViewModel

@if (Model.ShowError)
{
    <div class="alert alert-danger d-flex justify-content-between animate__animated animate__faster animate__fadeInDown"
        role="alert">
        @Model.Message
        <span aria-hidden="true" style="cursor: pointer;" onclick="closeAlert()">&times;</span>
    </div>
}

<div class="text-center">
    <h1 class="display-4">📋 New Account</h1>
</div>

<div class="container">
    <form class="row" asp-action="Create" method="post">
        <!-- Name -->
        <div class="form-group col col-12 col-lg-6 mt-2">
            <label for="inputName">Name</label>
            <input type="name"
                class="form-control animate__animated animate__faster @(@Model.ErrorFields.ContainsKey("Name") ? "border-danger animate__headShake" : "")"
                id="inputName" placeholder="Name" name="Name" value="@Model.Name">
            @if (Model.ErrorFields.ContainsKey("Name"))
            {
                <span class="text-danger">
                    @String.Join(", ", Model.ErrorFields.GetValueOrDefault("Name") ?? [])
                </span>
            }
        </div>
        <!-- Email -->
        <div class="form-group col col-12 col-lg-6 mt-2">
            <label for="inputEmail">Email</label>
            <input type="email"
                class="form-control animate__animated animate__faster @(@Model.ErrorFields.ContainsKey("Email") ? "border-danger animate__headShake" : "")"
                id="inputEmail" placeholder="Email" name="Email" value="@Model.Email">
            @if (Model.ErrorFields.ContainsKey("Email"))
            {
                <span class="text-danger">
                    @String.Join(", ", Model.ErrorFields.GetValueOrDefault("Email") ?? [])
                </span>
            }
        </div>
        <!-- Password -->
        <div class="form-group col col-12 col-lg-6 mt-2">
            <label for="inputPassword">Password</label>
            <input type="password"
                class="form-control animate__animated animate__faster @(@Model.ErrorFields.ContainsKey("Password") ? "border-danger animate__headShake" : "")"
                id="inputPassword" placeholder="Password" name="Password" value="@Model.Password">
            @if (Model.ErrorFields.ContainsKey("Password"))
            {
                <span class="text-danger">
                    @String.Join(", ", Model.ErrorFields.GetValueOrDefault("Password") ?? [])
                </span>
            }
        </div>
        <!-- Button -->
        <div class="d-flex flex-wrap mt-3">
            <button type="submit" class="btn btn-primary w-100">
                💾 Create
            </button>
            @* <button type="button" class="btn btn-light w-100 mt-3"
                onclick="location.href='@Url.Action("Index", "NewAccount")'">
                📋 Create Account
            </button> *@
        </div>
    </form>
</div>