@model DotNetTask.Web.ViewModel.NewAccountViewModel

<div class="text-center">
    <h1 class="display-4">📋 New Account</h1>
</div>

<div class="container">
    <form class="row" asp-action="Login" method="post">
        <!-- Name -->
        <div class="form-group col col-12 col-lg-6 mt-2">
            <label for="inputName">Name</label>
            <input type="name"
                class="form-control animate__animated animate__faster @(@Model.ErrorFields.ContainsKey("Name") ? "border-danger animate__headShake" : "")"
                id="inputName" placeholder="Name" name="Name" value="@Model.Name">
            @if (Model.ErrorFields.ContainsKey("Name"))
            {
                <span class="text-danger">
                    @String.Join(", ", Model.ErrorFields.GetValueOrDefault("Name") ?? [])
                </span>
            }
        </div>
        <!-- Email -->
        <div class="form-group col col-12 col-lg-6 mt-2">
            <label for="inputEmail">Email</label>
            <input type="email"
                class="form-control animate__animated animate__faster @(@Model.ErrorFields.ContainsKey("Email") ? "border-danger animate__headShake" : "")"
                id="inputEmail" placeholder="Email" name="Email" value="@Model.Email">
            @if (Model.ErrorFields.ContainsKey("Email"))
            {
                <span class="text-danger">
                    @String.Join(", ", Model.ErrorFields.GetValueOrDefault("Email") ?? [])
                </span>
            }
        </div>
        <!-- Password -->
        <div class="form-group col col-12 col-lg-6 mt-2">
            <label for="inputPassword">Password</label>
            <input type="password"
                class="form-control animate__animated animate__faster @(@Model.ErrorFields.ContainsKey("Password") ? "border-danger animate__headShake" : "")"
                id="inputPassword" placeholder="Password" name="Password" value="@Model.Password">
            @if (Model.ErrorFields.ContainsKey("Password"))
            {
                <span class="text-danger">
                    @String.Join(", ", Model.ErrorFields.GetValueOrDefault("Password") ?? [])
                </span>
            }
        </div>
    </form>
</div>